<!-- header section -->
<section class="banner" role="banner">
  <header id="header">
    <div class="header-content clearfix"> <a class="logo" href="index.html">V-Decore</a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="#banner">Home</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#content-3-10">About</a></li> 
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#teams">Our Team</a></li>
          <li><a href="#testimonials">Testimonials</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
    </header>
    <!-- banner text --> 
    <div class="banner" id="banner"> 
      <div class="slider-banner">
        <% @banners.each do |banner| %>
        <div data-lazy-background="<%= banner.image.url %>"> 
          
          <h3 data-pos="['70%', '110%', '70%', '35%']" data-duration="700" data-effect="move">
          <%= banner.title %>
          </h3> 
        </div>
        <% end %>
      </div>
      <!-- banner text --> 
    </div> 
  </section>
  <!-- header section --> 
  <!-- intro section -->
  <section id="intro" class="section intro">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h3>Interior Designers and Decorators</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu libero scelerisque ligula sagittis faucibus eget quis lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <a href="#gallery" class="btn btn-outline btn-outline outline-dark"  style="color:white !important; border: 1px solid #eeefecf0;">Request Pricing</a>
        


      </div>

    </div>

  </section>

  <!-- intro section --> 
  <!-- services section -->
  <section id="services" class="services service-section">
    <div class="container">
      <div class="section-header">
        <h2 class="wow fadeInDown animated">Our Services</h2>
        <p class="wow fadeInDown animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa <br> semper aliquam quis mattis quam.</p>
      </div>
      <div class="row">
      <% @services.each do |service| %>
        <div class="col-md-6 col-sm-6 services text-center"> 
          <span class="service-img"><img src="<%= service.image.url %>" alt="service"/> </span>
          <div class="services-content">
            <h5><%= service.title %></h5>
            <p><%= service.description %></p>
          </div>
        </div>
       <% end %>
      </div>
 
    </div>
  </section>
  <!-- services section --> 
  <!--About-->
  <section id="content-3-10" class="content-block data-section nopad content-3-10">
    <div class="image-container col-sm-6 col-xs-12 pull-left">
      <div class="background-image-holder">
      <img src="<%= @about.picture.url %>" class="rounded-circle"/>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6 col-xs-12 content">
          <div class="editContent">

            <h3><img src="<%= @about.logo.url %>" class="rounded-circle col-sm-2"/> <%= @about.title %></h3>
          </div>
          <div class="editContent">
            <p><%= @about.message %></p>
          </div>
          <nav role="navigation">
            <ul class="primary-nav">
              <li><a href="#gallery" class="btn btn-outline btn-outline outline-dark">Our Gallery</a>
              </li>
            </ul>
        </nav>
        </div>
      </div><!-- /.row-->
    </div><!-- /.container -->
  </section>


  <!-- package section -->
  <section class="video-section">
    <div class="container"> 
      <div class="row">  
        <div id="content24" data-section="content-24" class="data-section"> 
          <div class="col-md-6">
            <h3 class="eidtContent">Content Video</h3>
            <p class="eidtContent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <p class="editContent">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            <p class="editContent">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
          </div>
          <div class="col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/146742515?badge=0" allowfullscreen=""></iframe>
            </div>
          </div> 
        </div>
      </div><!-- end row -->    
    </div>
  </section>
  <!-- package section --> 

  <!-- gallery section -->
  <section id="gallery" class="gallery section">
    <div class="container-fluid">
      <div class="section-header">
        <h2 class="wow fadeInDown animated">Gallery</h2>
        <p class="wow fadeInDown animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa <br> semper aliquam quis mattis quam.</p>
      </div>
      <div class="row no-gutter">
        <% @gallery.each do |gallery|%>
        <div class="col-lg-3 col-md-6 col-sm-6 work">
        <a href="<%= gallery.image.url %>" class="work-box">
        <img src="<%= gallery.image.url(:thumb) %>" alt="">
          <div class="overlay">
            <div class="overlay-caption">
              <p><span class="icon icon-magnifying-glass"></span></p>
            </div>
          </div>
          <!-- overlay --> 
        </a> 
        </div>
        <% end %>
      </div>
      
    </div>
  </section>
  <!-- gallery section --> 
  <!-- our team section -->
  <section id="teams" class="section teams">
    <div class="container">
      <div class="section-header">
        <h2 class="wow fadeInDown animated">Our Team</h2>
        <p class="wow fadeInDown animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa <br> semper aliquam quis mattis quam.</p>
      </div>
      <div class="row">
      <% @teams.each do |team|%>
        <div class="col-md-3 col-sm-6">
          <div class="person"><img src="<%= team.image.url %>" alt="" class="img-responsive">
            <div class="person-content">

              <h4><%= team.name %></h4>
              <h5 class="role"><%= team.designation %></h5>
              <p><%= team.introduction %></p>
            </div>
            <ul class="social-icons clearfix">
            <% team.social_links.each do |link| %>
              <li><a href="#"><span class="<%= link.link_icon_class%>"></span></a></li>
              <!-- <li><a href="#"><span class="fa fa-twitter"></span></a></li>  -->
              <!-- <li><a href="#"><span class="fa fa-google-plus"></span></a></li>  -->
            <% end %>
            </ul>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </section>
  <!-- our team section --> 
  <!-- Testimonials section -->
  <section id="testimonials" class="section testimonials no-padding">
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="flexslider">
          <ul class="slides">
          <% @testimonial.each do |testimonial|%>
            <li>
              <div class="col-md-12">
                <blockquote>
                  <h1>“<%= testimonial.description %>”</h1>
                    <p><%= testimonial.author %></p>
                  </blockquote>
                </div>
              </li>
              <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </section>
          <!-- Testimonials section --> 

          <!-- contact section -->
          <section id="contact" class="section">
            <div class="container">
              <div class="section-header">
                <h2 class="wow fadeInDown animated">Contact Us</h2>
                <p class="wow fadeInDown animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa <br> semper aliquam quis mattis quam.</p>
              </div>
              <div class="row">
                <div class="col-md-8 col-md-offset-2 conForm">       
                  <div id="message"></div>
                  <form method="post" action="php/contact.php" name="cform" id="cform">
                    <input name="name" id="name" type="text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Your name..." >
                    <input name="email" id="email" type="email" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr" placeholder="Email Address..." >
                    <input name="mobile" id="mobile" type="text" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr" placeholder="Mobile Number..." maxlength="10" >
                    <textarea name="comments" id="comments" cols="" rows="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Message..."></textarea>
                    <input type="submit" id="submit" name="send" class="submitBnt" value="Send">
                    <div id="simple-msg"></div>
                  </form>
                </div>
              </div>
            </div>
          </section>
          <!-- contact section --> 
          <!-- Footer section -->
          <%= render 'footer'%>